.carosel__title {
    color: var(--orange);
    background-color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
    margin: 0.5em 0;
}

@media screen and (min-width:1024px){
    .carosel__title {
        padding: 2em 0 0.5em 0;
        font-size: 26px;
    }
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

@media screen and (min-width:1024px) {
    .carosel__title {
        font-size: 26px;
    }

    .swiper-slide img {
        width: 80%;
    }

    .swiper {
        width: 65%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
    }

    .swiper-slide {
        margin: 1em 2em;
    }
}