.header__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__image {
    padding: 1em;
}

.list__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__btn:checked ~ .list__menu {
    display: block;
}

.container__btn {
    display: none;
}

.list__menu_title, .list__menu_item {
    padding: 1em;
    background-color: var(--white);
}

.list__menu_title {
    color: var(--orange);
    font-weight: 700;
}

.list__menu_link {
    background: var(--blue-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.logomenu__title {
    display: none;
}

.newmenu {
    display: none;
}

.logomenu__image {
    width: 100%;
    margin-left: 1em;
}

.btn {
    display: flex;
}

.newmenu__list {
    display: none;
}

@media screen and (min-width:1024px) {
    .logomenu__title, .logomenu__title--black {
        font-family: var(--font-title);
        font-size: 30px;
    }

    .logomenu__title {
        font-weight: 400;
        display: block;
        margin-left: 0.5em;
    }

    .logomenu__title--black {
        font-weight: 700;
    }

    .newmenu {
        display: flex;
        align-items: center;
    }

    .newmenu__item {
        padding: 0 1em;
        text-transform: uppercase;
        font-weight: 400;
    }

    .newmenu__item--link {
        text-decoration: none;
        color: black;
    }

    .header__menu-hamburger {
        display: none;
    }

    .newmenu__btn:checked ~.list__menu {
        display: block;
        width: auto;
    }

    .newmenu__btn {
        display: none;
    }
}